<meta charset="utf-8">

<div id="auth">
    <form #f="ngForm">
        <h2>יצירת המשתמש שלך</h2>
        <input #usrname type="text" name="username" [(ngModel)]="firstNameAnswer" placeholder="שם פרטי" required>
        <input #usrlastname type="text" name="userlastname" [(ngModel)]="lastNameAnswer" placeholder="שם משפחה" required>
        <input #email type="email" name="email" [(ngModel)]="emailAnswer" placeholder="אימייל" required>
        <input #pass type="password" name="password" [(ngModel)]="passAnswer" placeholder="סיסמא" required>
        <button class="temp" routerLink="" type="submit">הירשם</button>
    </form>
</div>

